body
{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.nombre
{
    background-color: #bca8f3;
    padding: 3px;
    color: rgb(0, 0, 0);
}


h2
{
    color:rgb(59, 59, 151);
}

h3
{
    color: rgb(76, 125, 160);
}

p
{
    font-size: 20px;
}

.experiencia
{
    border: 5px solid yellow
}

