:root
{
    
    --color-texto: black;
    --color-1: #eef8ff;
    --color-2: #bca8f3;
    --color-3: #3b3b97;
    --color-4: #5629f8;
    --color-5: #f853c1;
    --color-6: #ecf752;
    --color-7: #fda4e0;
    --color-8: #eef58d;

}


body
{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-1);
    color: var(--color-texto); 

}

.nombre
{
    background-color: var(--color-2);
    padding: 3px;
    grid-column: 1 / -1;
    text-align: center;
}

main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}


h1, h2, h3
{
    color: var(--color-3);
}

h3
{
    color: var(--color-4);
}

p
{
    font-size: 20px;
}

.datos, .escuela, .idiomas, .experiencia, .referencias
{
    border: 5px solid var(--color-5);
    background-color: var(--color-7);
}

.sobre-mi, .habilidades, .proyectos, .intereses
{
    border: 5px solid var(--color-6);
    background-color: var(--color-8);
}

.foto
{
    text-align: center;
    margin-bottom: 20px;
}

