body
{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #eef8ff;
    color: black; 

}

.nombre
{
    background-color: #bca8f3;
    padding: 3px;

}


h1, h2, h3
{
    color:#3b3b97;
}

h3
{
    color: #4c7da0;
}

p
{
    font-size: 20px;
}

.datos, .escuela, .idiomas, .experiencia, .referencias
{
    border: 5px solid #fda4e0;
}

.sobre-mi, .habilidades, .proyectos, .intereses
{
    border: 5px solid #eef58d
}

.foto
{
    text-align: center;
    margin-bottom: 20px;
}

