body
{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

h1
{
    color: rgb(43, 28, 248);
}

h2
{
    color:rgb(59, 59, 151);
}

h3
{
    color: rgb(76, 125, 160);
}

p
{
    font-size: 20px;
}


